.background-haleakala {
  background-image: url("/assets/images/panoramic.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .background-haleakala .show-haleakala {
    height: 100px; }
  .background-haleakala a.icon {
    color: inherit;
    margin: 0 0.5em; }
    .background-haleakala a.icon:hover {
      background-color: inherit;
      border-bottom: inherit; }
