---
---

.background-haleakala {
  background-image: url("/assets/images/panoramic.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .show-haleakala {
    height: 100px;
  }

  a.icon {
    color: inherit;
    margin: 0 0.5em;

    &:hover {
      background-color: inherit;
      border-bottom: inherit;
    }
  }
}

.project {
  margin: 0 20px;
}
